.acowdp-rules-form-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.acowdp-rules-form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.acowdp-rules-form-header-left {
  display: flex;
  flex-direction: column;
}

.acowdp-rules-form-header-left h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.acowdp-rules-form-header-left p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-2);
}

.acowdp-rules-form-header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.acowdp-rules-form-footer {
  background: var(--surface);
  border-top: 1px solid var(--border);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 1700px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 160px;
}

.acowdp-rules-form-card {
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  background: var(--surface);
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}

.acowdp-rules-form-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid var(--border);
}

.acowdp-rules-form-card-header-left {
  display: flex;
  flex-direction: column;
}

.acowdp-rules-form-card-header-left h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--text);
}

.acowdp-rules-form-card-header-left p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-2);
}

.acowdp-rules-form-card-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.acowdp-rules-form-card-header-right-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--text-2);
  transition: all var(--transition);
  border: none;
  background: 0 0;
  margin: 0;
  padding: 0;

}

.acowdp-rules-form-card-header-right-button svg {
  width: 20px;
  height: 20px;
  color: var(--text-2);
}

.acowdp-rules-form-card-body {
  padding: 20px;
}

.acowdp-rules-form-card-body-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.acowdp-form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.acowdp-form-item-half {
  width: 49%;
}

.acowdp-form-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-2);
  margin: 0;
  padding: 0;
}

.acowdp-form-input {
  height: 34px;
  padding: 0 10px;
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  background: var(--surface);
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}